# Binaries for programs and plugins
# .env (for development only)
PORT=8080
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_HOST=your_db_host
DB_PORT=5432
DB_NAME=your_db_name
SUPABASE_URL=your_supabase_url
JWT_SECRET=your_jwt_secret_key

*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with 'go test -c'
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below if you are not using dep)
#vendor/

# Environment variable file
.env

# GoLand IDE files
.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/go.mod
.idea/go.sum
.idea/.name
.idea/misc.xml
.idea/vcs.xml
.idea/modules.xml
.idea/goland.xml
.idea/dictionaries

# Visual Studio Code IDE files
.vscode/
.vscode/settings.json
.vscode/launch.json
.vscode/extensions.json
